// Custom Variables
@import "variables"
@import "mixins"
@import "positions"

// HTML Elements
html, body
	height: 100%
	margin: 0
	padding: 0
	font-family: $primary-font
	box-sizing: border-box
	letter-spacing: 1px
	color: $dark-grey
h1
	font-size: 62px
	margin-bottom: 0
h2
	font-size: 56px
	margin-bottom: 0
h3
	font-size: 48px
	margin-bottom: 0
h4
	font-size: 32px
	margin-bottom: 16px
h5
	font-size: 24px
	margin-bottom: 0
h6
	font-size: 18px
	line-height: 26px
	margin-bottom: 0	
	font-family: $secondary-font
p
	font-size: 16px
	margin-bottom: 6px
	font-weight: 400
	line-height: 24px
	
	padding-bottom: 5px
a
	color: inherit
	font-weight: inherit
a:hover
	color: inherit
	text-decoration: none
ul
	list-style: none
	padding-left: 0
hr
	border-color: $yellow
footer


// Positioning
.center
	text-align: center !important
.left
	text-align: left !important
.right
	text-align: right !important

// Coloring
.c-b
	color: black !important
.bg-b
	background-color: black !important
.c-lg
	color: $light-grey !important
.c-lg a:hover
	color: $dark-grey !important
.bg-lg
	background-color: $light-grey !important
.c-mg
	color: $mid-grey !important
.c-mg a:hover
	color: $light-grey !important
.bg-mg
	background-color: $mid-grey !important
.c-dg
	color: $dark-grey !important
.c-dg a:hover
	color: $mid-grey !important
.bg-dg
	background-color: $dark-grey !important
.c-w
	color: white !important
.bg-w
	background-color: white  !important
.c-g
	color: $green !important
.bg-g
	background-color: $green !important
.c-y
	color: $yellow !important
.bg-y
	background-color: $yellow !important

// Shadows
.soft-shadow
	box-shadow: 0px 0px 50px rgba(0, 0, 0, .25)
.hard-shadow
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.15)
.text-shadow
	text-shadow: 0px 1px 1px rgba(0, 0, 0, .5)
.text-shadow-soft
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1)
.background-gradient-lower
	height: 100%
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%)
.block-shadow,
.block-shadow-hover
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,.25)

// Navigation
nav

// Stuff

.page-content
	background-color: rgb(8, 0, 53)
	height: 100%
	width: 100%
	position: relative
	+transition(all 1s ease-out)
h1
	font-family: $silly-font
	font-size: 72px
	line-height: 72px
	color: #13046b
	letter-spacing: -1px
	
.name
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	padding: 1px
	z-index: 10
	+transition(0.25s all linear)

.loader-container
	position: absolute
	bottom: -12px
	height: 12px
	z-index: 10
	left: 50%
	transform: translateX(-50%)
	width: 324px
	.loader
		border: 2px solid white
		height: 100%
		width: 0%
		background-color: rgba(255, 255, 255, .5)
		+transition(all 1s ease-out)

.epaPlanet
	position: absolute
	width: 256px
	height: 256px
	border-radius: 100%
	cursor: pointer
	z-index: 11
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

.content
	width: 100%
	height: 100%
	overflow: hidden
	position: relative

#space
	width: 100%
	height: 100%
	position: absolute
	z-index: 0

.space
	position: absolute
	left: 0
	bottom: 0
	top: -1240px
	right: 0
	width: 100%
	z-index: -1
	background-repeat: repeat
.Up
	animation: space-travel 10s linear infinite
.Slow-Float
	animation: slow-float 120s linear infinite
.Slow-Float-Helmet
	animation: slow-float-helmet 60s linear infinite

+keyframes(space-travel)
	0%
		transform: translateY(0%)
	100%
		transform: translateY(50%)
+keyframes(slow-float)
	0%
		transform: translate(0%, 0%)
	100%
		transform: translate(0%, 1240px)

+keyframes(slow-float-helmet)
	0%
		transform: translate(0%, 0%)
	100%
		transform: translate(0%, -500px)

.menu-button
	top: 40%
	left: 32%
	height: 35px
	width: 35px
	position: absolute
	opacity: 0
	cursor: pointer
	+transition(all .1s linear)
	.line
		width: 100%
		height: 5px
		margin: 5px 0px
		background-color: white

// Skeletal
.astronaut-container
	position: absolute
	height: 75%
	left: 50%
	top: 50%
	z-index: 9000
	transform: translate(-50%, -50%)
	.astronaut
		height: 100%
		width: 100%
		position: absolute
		.head,
		.helmet,
		.shield,
		.upper-body,
		.lower-body,
		.torso,
		.upper,
		.lower,
		.calve,
		.hand,
		.whole-hand,
		.finger-1,
		.finger-2,
		.forearm,
		.right-arm,
		.left-arm,
		.belt,
		.left-leg,
		.right-leg,
		.foot
			+transition(transform .5s linear)
			transform-style: preserve-3d
			position: absolute
			z-index: 1
		.jet
			overflow: visible
			position: absolute
			top: 60%	
			z-index: 0
			&.right
				left: 75%
			&.left 
				right: 75%
		.flame
			+transition(all 1s linear)
		.head
			height: 16.83%
			width: 27.8668%
			top: 0%
			left: 36.498%
			.helmet
				z-index: 1
				top: 0%
				left: 0%
				height: 100%
				width: 100%
			.shield
				z-index: 2
				top: 3.3%
				left: 5.309%
				height: 71.65%
				width: 89.38%
				clip-path: url(/yakcmxela/wp-content/themes/yakcmxela/sass/shield.svg) repeat 50% 50%
				mask: url(/yakcmxela/wp-content/themes/yakcmxela/sass/shield.svg) repeat 50% 50%
				-webkit-mask-size: cover
				mask-size: cover
				.space-bg
					width: 100%
					position: absolute
					left: 0
					bottom: -500px
					top: 0px
		.upper-body
			height: 39.098%
			width: 100%
			top: 15.175%
			z-index: 3
			transform-origin: bottom center
			.torso
				top: 0%
				height: 83.05%
				left: 27%
				z-index: 2
			.right-arm
				height: 100%
				width: 41.55%
				top: 4.237%
				left: 58.44%
				z-index: 1
				transform-origin: top left
				.upper
					top: 0%
					left: 0%
					height: 50.08%
					z-index: 2
				.lower
					top: 39.64%
					left: 35%
					height: 60.35%
					width: 64.985%
					z-index: 1
					.forearm
						top: 0%
						left: 0%
						height: 61.58%
						z-index: 2
					.hand
						top: 50.73%
						left: 63.84%
						height: 45.85%
						width: 36.3228%
						z-index: 1
						.whole-hand
							height: 100%
							top: 8%
							left: -10%
							z-index: 1
							transform-origin: top center
						.finger-1
							height: 51.2%
							right: 12.345%
							top: 45.18%
							z-index: 3
							transform-origin: top right
						.finger-2
							bottom: 0%
							left: 3.7%
							right: 50%
							z-index: 2
							height: 50%
							transform-origin: top-right

			.left-arm
				height: 100%
				width: 41.55%
				top: 4.237%
				right: 58.44%
				z-index: 1
				transform-origin: top right
				.upper
					top: 0%
					right: 0%
					height: 50.08%
					z-index: 2
				.lower
					top: 39.64%
					right: 35%
					height: 60.35%
					width: 64.985%
					z-index: 1
					.forearm
						top: 0%
						right: 0%
						height: 61.58%
						z-index: 2
					.hand
						top: 50.73%
						right: 63.84%
						height: 45.85%
						width: 36.3228%
						z-index: 1
						.whole-hand
							top: 8%
							right: -10%
							height: 100%
							z-index: 1
							transform-origin: top center
						.finger-1
							height: 51.2%
							left: 12.345%
							top: 45.18%
							z-index: 3
							transform-origin: top left
						.finger-2
							bottom: 0%
							left: 3.7%
							height: 50%
							z-index: 2
							transform-origin: top left

			.belt
				top: 73.22%
				height: 7.966%
				left: 33.66%
				z-index: 3
		.lower-body
			height: 57.057%
			width: 38.84%
			top: 42.942%
			left: 30.5795%
			z-index: 1
			transform-origin: top center
			.right-leg
				height: 100%
				width: 50%
				right: 0%
				top: 0%
				transform-origin: top center
				.upper
					height: 51.916%
					top: 0%
					right: 0%
					z-index: 2
				.lower
					height: 54.239%
					width: 100%
					top: 45.76%
					right: 1.2698%
					transform-origin: top center
					z-index: 1
					.calve
						height: 64.316%
						top: 0%
						right: 0%
						z-index: 2
					.foot
						height: 46.25%
						top: 53.747%
						right: 4.7619%
						z-index: 1
			.left-leg
				height: 100%
				width: 50%
				left: 0%
				top: 0%
				transform-origin: top center
				.upper
					height: 51.916%
					top: 0%
					left: 0%
					z-index: 2
				.lower
					height: 54.239%
					width: 100%
					top: 45.76%
					left: 1.2698%
					transform-origin: top center
					z-index: 1
					.calve
						height: 64.316%
						top: 0%
						left: 0%
						z-index: 2
					.foot
						height: 46.25%
						top: 53.747%
						left: 4.7619%
						z-index: 1
		&.Down
			.head,
			.helmet,
			.shield,
			.upper-body,
			.lower-body,
			.torso,
			.upper,
			.lower,
			.calve,
			.hand,
			.forearm,
			.right-arm,
			.left-arm,
			.belt,
			.left-leg,
			.right-leg,
			.foot
				+transition(all .5s ease-in-out)
			.head
				transform: translateY(50%)
			.upper-body
				transform: translateY(20%)
				.right-arm
					transform: rotate(-15deg) translate(0%, 5%)
					.lower
						transform: rotate(-15deg) translate(12%, -20%)
						.hand
							transform: rotate(-35deg) translate(63%, 0%)
				.left-arm
					transform: rotate(15deg) translate(0%, 5%)
					.lower
						transform: rotate(15deg) translate(-12%, -20%)
						.hand
							transform: rotate(35deg) translate(-63%, 0%)
			.lower-body
				transform: translateY(15%) scaleY(.9)
				.left-leg
					transform: rotate(2deg) translate(5%, 0%)
					.upper
						transform: translateX(-5%)
					.lower
						transform: rotate(-5deg) translateY(-10%)
						.calve
							transform: translateX(-5%)
						.foot
							transform: translateY(-2.5%)
				.right-leg
					transform: rotate(-2deg) translate(-5%, 0%)
					.upper
						transform: translateX(5%)
					.lower
						transform: rotate(5deg) translateY(-10%)
						.calve
							transform: translateX(5%)
						.foot
							transform: translateY(-2.5%)
		&.Take-Off
			animation: up-down 3s ease-in-out
			.head,
			.helmet,
			.shield,
			.upper-body,
			.lower-body,
			.torso,
			.upper,
			.lower,
			.calve,
			.hand,
			.forearm,
			.right-arm,
			.left-arm,
			.belt,
			.left-leg,
			.right-leg,
			.foot
				+transition(all .25s cubic-bezier(0.67, 0.07, 1, 1))
			.head
				transform: translateY(-10%)
				.shield
					transform: translateY(-2%)
			.upper-body
				transform: translateY(-10%)
				.right-arm
					transform: rotate(5deg) translate(0%, -1.33%)
					.lower
						transform: rotate(5deg) translate(3%, -5%)
						.hand
							transform: rotate(-65deg) translate(98%, 0%)
				.left-arm
					transform: rotate(-5deg) translate(0%, 1.33%)
					.lower
						transform: rotate(-5deg) translate(-3%, -5%)
						.hand
							transform: rotate(65deg) translate(-98%, 0%)

			.lower-body
				transform: translateY(-8%)
				.left-leg
					transform: rotate(0deg)
					.upper
						transform: translateX(0%)
					.lower
						transform: rotate(-5deg) translateY(0%)
						.calve
							transform: translateX(0%)
						.foot
							transform: translateY(0%)
				.right-leg
					transform: rotate(0deg)
					.upper
						transform: translateX(0%)
					.lower
						transform: rotate(5deg) translateY(0%)
						.calve
							transform: translateX(0%)
						.foot
							transform: translateY(0%)
		&.Enter
			transform: translate(-200%, 200%)
			.head,
			.helmet,
			.shield,
			.upper-body,
			.lower-body,
			.torso,
			.upper,
			.lower,
			.calve,
			.hand,
			.forearm,
			.right-arm,
			.left-arm,
			.belt,
			.left-leg,
			.right-leg,
			.foot
				+transition(all .5s ease-in-out)
			.head
			.upper-body
				.right-arm
					transform: rotate(-15deg) translate(0%, 5%)
					.lower
						.hand
							transform: rotate(-60deg) translate(78%, 13%)
				.left-arm
					transform: rotate(50deg) translate(24%, -2%)
					.lower
						.hand
							transform: rotate(65deg) translate(-78%, 16%)
				.belt
					transform: rotate(6deg) translate(-1%, -3%)
			.lower-body
				.left-leg
					transform: rotate(12deg)
					.upper
					.lower
						transform: rotate(-5deg) translateY(-10%)
						.calve
						.foot
				.right-leg
					transform: rotate(6deg)
					.upper
					.lower
						transform: rotate(12deg)
						.calve
						.foot
		&.Arrive
			+transition(all 5s cubic-bezier(0, 0, 0.45, 1.01))
			transform: translate(0%, 0%)
		&.Reposition-On-Entry
			.upper-body
				.right-arm
					+transition(transform 5s cubic-bezier(0.63, 0.67, 0.32, 1.28))
					transform: rotate(-95deg) translate(-40%, 0%)
					.lower
						.hand
							transform: rotate(-65deg) translate(96%, 7%)
		&.Relax
			+transition(all 3s ease-in)
			.upper-body
				.left-arm
					transform: rotate(-8.5deg)
					.lower
						transform: rotate(30deg) translate(-44%, -3%)
					.hand
						transform: rotate(36deg) translate(-66%, 0%)
				.right-arm
					transform: rotate(8.5deg)
					.lower
						transform: rotate(8deg)
					.hand
						transform: rotate(-36deg) translate(64%, 0%)
				.belt
					transform: scaleX(1.02) translate(0%, 0%) rotate(-3deg)
			.lower-body
				.left-leg
					.lower
						transform: rotate(-9deg)
						.foot
							transform: rotate(-5deg) translate(10%, 0%)
				.right-leg
					transform: rotate(-8deg) translate(0%, -2%) scaleY(.9)
					.lower
						transform: rotate(12deg)
						.foot
							transform: rotate(5deg) translate(-10%, 0%)
		&.Menu
			transform: scale(5) translate(65%, 20%)
			.upper-body
				.left-arm
					.lower
						transform: rotate(46deg) translate(-70%, 6%)

		+keyframes(blastoff-ra)
			0%
				transform: rotate(0deg) translate(0%, 0%)
			50%
				transform: rotate(-15deg) translate(0%, 5%)
			100%

+keyframes(up-down)
	0%
		transform: translateY(0%)
	25%
		transform: translateY(-20%)
	75%
		transform: translateY(2%)
	100%
		transform: translateY(0%)

+keyframes(shoot-down-1)
	0%
		transform: translate(0%, 0%)
		opacity: 1
	100%
		transform: translate(-500%, 3000%)
		opacity: 0

+keyframes(shoot-down-2)
	0%
		transform: translate(0%, 0%)
		opacity: 1
	100%
		transform: translate(0%, 3000%)
		opacity: 0

+keyframes(shoot-down-3)
	0%
		transform: translate(0%, 0%)
		opacity: 1
	100%
		transform: translate(500%, 3000%)
		opacity: 0

.db
	position: absolute
	top: 0
.to
	position: absolute
	top: 30px

.canvas
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 65%
	z-index: 0
	display: none
	canvas
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 65%

+keyframes(zoomies)
	0%
		filter: blur(0px)
	25%
		filter: blur(.5px)
	75%
		filter: blur(.5px)
	100%
		filter: blur(0px)


.info
	width: 100%
	height: 35%
	z-index: 100
	.menu
		margin-top: 64px
		h6
			padding: 12px
			padding-bottom: 10px
			margin: 12px
			font-weight: 300
			background-color: $light-grey-one-quarter
			border-radius: 12px
			cursor: pointer

