$primary-font: 'Assistant', sans-serif
$secondary-font: 'Khula', sans-serif
$yellow: #ffc600 
$green: #00853c
$green-three-quarters: rgba(0, 133, 60, 0.75)
$green-one-half: rgba(0, 133, 60, 0.5)
$green-one-quarter: rgba(0, 133, 60, 0.25)
$light-grey: #c4c4c3
$mid-grey: #7d7d7d
$dark-grey: #101e28
$dark-grey-three-quarters: rgba(39, 40, 34, 0.75)
$dark-grey-one-half: rgba(39, 40, 34, 0.5)
$dark-grey-one-quarter: rgba(39, 40, 34, 0.25)
$dark-grey-one-fifth: rgba(39, 40, 34, 0.1)
$dark-grey-one-tenth: rgba(39, 40, 34, 0.05)
$light-grey-one-quarter: rgba(196, 196, 195, 0.25)
$light-grey-one-half: rgba(196, 196, 195, 0.5)
$light-grey-three-quarters: rgba(196, 196, 195, 0.75)
$light-grey-one-fifth: rgba(196, 196, 195, 0.1)
$light-grey-one-tenth: rgba(196, 196, 195, 0.05)
$white-transparent: rgba(255, 255, 255, 0)
$black-transparent: rgba(255, 255, 255, 0)
$red: #cc2c18
$red-three-quarters: rgba(204, 44, 24, 0.75)
$red-one-half: rgba(204, 44, 24, 0.5)
$red-one-quarter: rgba(204, 44, 24, 0.25)
$blue: #1b7ea2
$blue-three-quarters: rgba(27, 126, 162, 0.75)
$blue-one-half: rgba(27, 126, 162, 0.5)
$blue-one-quarter: rgba(27, 126, 162, 0.25)
$deep-blue: #142634
$deep-blue-three-quarters: rgba(20, 38, 52, 0.75)
$deep-blue-one-half: rgba(20, 38, 52, 0.5)
$deep-blue-one-quarter: rgba(20, 38, 52, 0.25)
$light-grey: #c4c4c3
$light-grey-one-quarter: rgba(196, 196, 195, 0.25)
$light-grey-one-half: rgba(196, 196, 195, 0.5)
$light-grey-three-quarters: rgba(196, 196, 195, 0.75)
$light-grey-one-fifth: rgba(196, 196, 195, 0.1)
$light-grey-one-tenth: rgba(196, 196, 195, 0.05)
$mid-grey: #6F6E63
$dark-grey: #282B2A
$white-transparent: rgba(255, 255, 255, 0)
$black-transparent: rgba(255, 255, 255, 0)